<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>For SOme Tests</title>
</head>
<body>
<h2 style="text-align: center;">Hello!&nbsp;</h2>
<p style="text-align: center;">Welcome to this place!</p>
<p style="text-align: center;"><img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-cool.gif" alt="cool" /></p>
<p style="text-align: center;">&nbsp;</p>
<ol>

</ol>
You can go on the next pages:
<h2><a class="nav-link" href="/home/">Home</a></h2>
<h2><a class="nav-link" href="/contact/">Contact</a></h2>
<h2><a class="nav-link" href="/about/">About</a></h2>

<h1><b>It`s an unformed sample for some tests.</b></h1>
<p>&nbsp;</p>

{{ flatpage.content }}


<p><em>Thank you! &hearts;</em></p>
</body>
</html>